@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, there!</h1>

<p>Welcome to this example that shows how to shorten URLs using Blazor WebAssembly.</p>

<p>Click <a href="/shorten">here</a> or the link in the navigation to get started.</p>
